<script type="text/javascript" src="./js/create-poll.js"></script>
<script type="text/javascript">

</script>
<body>
    <p>This is the poll-creation page</p>
    <p> You are logged in as {{user.username}}</p>
  <!-- Load most recent polls -->
  <h3>Create Your Poll</h3>
  <p>*Must have at least two options</p>
  <div>
  <form action="/new-poll" method="post">
    <p>Title: <input type="text" name="title" required></p>
    <div id="options">
      
    </div>
    <div><button id="add-option"><label>Add Option</label></button></div>
    <!-- <div><button id="delete-option"><label>Delete Option</label></button></div> -->
    <input type="submit" id="submit">
  </form>
  </div>
</body>