   <script type="text/javascript" src="./js/delete.js"></script>
   <link rel="stylesheet" href="./css/delete.css">
   
<body>
    
    <p> You are logged in as {{user.username}}</p>
    <p>Are You Sure you Want to Delete this Poll?</p>
    
  <!-- Load most recent polls -->
  <p>Polls</p>
  <input type="hidden" id="passed-poll" value="{{title}}">
  <div id="polls-container-all" class="polls-container">
      <form method="post" action="/deletepoll"><input type="hidden" name="title" value="{{title}}"><input type="submit" name="submit" value="Click to Delete Permanently"></form>
  </div>
</body>

