   <script type="text/javascript" src="./js/index.js"></script>
<body>
    <p>This is the index page</p>
    <p> You are logged in as {{user.username}}</p>
  <!-- Load most recent polls -->
  <p>Polls</p>
  <div id="polls-container-1" class="polls-container">
      <div id="poll-1" class="poll-header">
          
      </div>
      <div id="chart-1" class="ct-chart ct-perfect-fourth" ></div>
      </div>
      <div id="poll-container-2" class="polls-container">
      <div id="poll-2" class="poll-header">
          
      </div>
      <div id="chart-2" class="ct-chart ct-perfect-fourth" ></div>
      </div>
      <div id="polls-container-3" class="polls-container">
      <div id="poll-3" class="poll-header">
          
      </div>
      <div id="chart-3" class="ct-chart ct-perfect-fourth"></div>
  </div>
</body>