   <script type="text/javascript" src="./js/index.js"></script>
<body>
    <h1 class="pollio-title main-title">Pollio, </h1><h2 class="pollio-title secondary-title">the voting app</h2>
    
  <!-- Load most recent polls -->
  {{#if message}}
  <p class="delete-message">{{message}}</p>
  {{/if}}
  <div id="polls-container-all" class="polls-container">
      
  </div>
</body>

