   <script type="text/javascript" src="./js/index.js"></script>
<body>
    <p>This is the index page</p>
    <p> You are logged in as {{user.username}}</p>
  <!-- Load most recent polls -->
  <p>Polls</p>
  {{#if message}}
  <p class="delete-message">{{message}}</p>
  {{/if}}
  <div id="polls-container-all" class="polls-container">
      
  </div>
</body>

