
    <script type="text/javascript" src="./js/login.js"></script>


    <p>Please Log In</p>
    <div id="login-local">
        <form action="/login-user" method="post">
        <div>
    <input type="text" name="username">
    </div>
    <div>
    <p>Username: </p><input type="password" name="password">
    </div>
    <p>Password: </p><input type="submit" id="login" value="login">
    </form>
    <a href="/signup"><button>Register</button></a>
    </div>
    