   <script type="text/javascript" src="./js/mypolls.js"></script>
<body>
    <p>This is your polls page</p>
    <p> You are logged in as {{user.username}}</p>
  <!-- Load most recent polls -->
  <p>Polls</p>
  <div id="polls-container-all" class="polls-container">
      
  </div>
</body>

