<script type="text/javascript" src="./js/signup.js"></script>
<script type="text/javascript">
    function passcheck(){
       if ($("[name='password']").val().length < 8){
           $("#mismatch").html("Password too short!");
       }
       else if ($("[name='password']").val() !== $("[name='password2'").val() && $("[name='password']").val().length > 0 ){
           $("#mismatch").html("Values do not match!");
       }
       
       else {
           $("#mismatch").html("Matching!");
       }
   }
</script>

 <p>Enter a username and password</p>
    <div id="sign-local">
        <form action="/signup-user" method="post">
        <div>
    Username: <input type="text" name="username">
    </div>
    <div>
    Password: <input type="password" name="password">
    </div>
    <div>
    Repeat Password: <input type="password" name="password2" onkeyup="passcheck()"><p id="mismatch"></p>
    </div>
    <div>
        E-mail: <input type="text" name="e-mail">
    </div>
    <input type="submit" id="signup" value="signup">
    </form>
    
    