<script type="text/javascript" src="./js/signup.js"></script>
 <p>Enter a username and password</p>
    <div id="sign-local">
        <form action="/signup-user" method="post">
        <div>
    <input type="text" name="username">
    </div>
    <div>
    <input type="password" name="password">
    </div>
    <input type="submit" id="signup" value="signup">
    </form>