   <script type="text/javascript" src="./js/singlepoll.js"></script>
   
<body>
    <p>View one poll:</p>
    <p> You are logged in as {{user.username}}</p>
  <!-- Load most recent polls -->
  <p>Polls</p>
  <input type="hidden" id="passed-poll" value="{{title}}">
  <div id="polls-container-all" class="polls-container">
      
  </div>
</body>

