@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Barlow');

//Color palette courtesy of Lea Poisson from flatUI https://flatuicolors.com/palette/fr
$flat-fresh: rgba(250, 211, 144, 1.0);
$melon-melody: rgba(248, 194, 145,1.0);
$livid: rgba(106, 137, 204,1.0);
$spray: rgba(130, 204, 221,1.0);
$paradise-green: rgba(184, 233, 148,1.0);
$squash-blossom: rgba(246, 185, 59,1.0);
$mandarin-red: rgba(229, 80, 57,1.0);
$azraq-blue: rgba(74, 105, 189,1.0);
$dupain: rgba(96, 163, 188,1.0);
$aurora: rgba(120, 224, 143,1.0);
$iceland-poppy: rgba(250, 152, 58,1.0);
$tomato-red: rgba(235, 47, 6,1.0); //danger-delete
$yue-guang-lang-blue: rgba(30, 55, 153,1.0); //share
$good-samaritan: rgba(60, 99, 130,1.0); //Vote
$waterfall: rgba(56, 173, 169,1.0);
$carrot-orange: rgba(229, 142, 38,1.0);
$jalapeno-red: rgba(183, 21, 64,1.0);
$dark-sapphire: rgba(12, 36, 97,1.0); //add-option
$forest-blues: rgba(10, 61, 98,1.0);
$reef-encounter: rgba(7, 153, 146,1.0);




body {
    background-image: url('https://i.imgur.com/Aik3J4X.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
}

.pollio-title {
    font-family: "Open Sans";
    color: black;
    
}

.main-title {
        font-size: 2.5em;
        text-align: right;
        text-shadow: rgba(100, 100, 100, 0.2) 1px 1px;
    }
.secondary-title {
        font-size: 1.5em;
        text-align: right;
    }

button {
    z-index: 1;
    color: white;
    text-transform: uppercase;
    font-family: Barlow;
    font-weight: 500;
}

.poll-container {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 80vh;
  max-height: 700px;
  margin-bottom: 1.5em;
  border-top: 1px;
  border-top-color: black;
  border-top-style: dashed;
  padding-top: 1.5em;
}

.poll-header {
  grid-column-start: 1;
  grid-column-end: span 9;
  grid-row-start: 1;
  grid-row-end: span 7;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
}

.poll-options-container {
  grid-column-start: 1;
  grid-column-end: span 9;
  grid-row-start: 1;
  grid-row-end: span 7;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.poll-title {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: $forest-blues;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-size: 1.5em;
  font-weight: 700;
  color: white;
  display: table;
  p {
    display: table-cell;
    vertical-align: middle;
  }
}

.vote-header {
    display: inline;
    text-align: left;
}

.poll-creator {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;
  height: 100%;
  width: 100%;
  background-color: $reef-encounter;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-size: 1.25em;
  font-weight: 500;
  margin-top: 1em;
  display: table;
  p {
    display: table-cell;
    vertical-align: middle;
  } 
}

.share-this-poll-button {
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: $yue-guang-lang-blue;
  border-style: none;
  margin-left: 1em;
}

.poll-options-div {
  grid-column-start: 1;
  grid-column-end: span 10;
  grid-row-start: 8;
  justify-self: center;
}

.poll-option {
  margin-left: 1em;
  background-color: $good-samaritan;
  border-style: none;
}

.add-option-to-poll {
  grid-column-start: 7;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  height: 100%;
  width: 100%;
}

.add-option-to-poll-button {
  background-color: $dark-sapphire;
  border-style: none;
}

.delete-poll-div {
  grid-column-start: 9;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  width: 100%;
  height: 100%;
}

.delete-poll-button {
  width: 100%;
  height: 100%;
  background-color: $tomato-red;
  border-style: none;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-family: Barlow;
  font-weight: 500;
}

.chart-container {
  grid-row-start: 2;
  grid-row-end: span 5;
  grid-column-start: 3;
  grid-column-end: span 7;
  padding-bottom: 1em;
  margin-top: 4px;
  overflow: visible;
}


.ct-chart-pie {
  overflow: visible;
}
.ct-label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: black;
    opacity: 1;
    overflow: visible;
    fill: black;
}